.form {
  position: relative;

  margin-right: auto;
  margin-left: auto;
  padding: 40px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  transform: translate(-30%, 30%);

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  // padding: 10px 9px 9px 10px;
  background-color: #ffffff;
  cursor: pointer;
  outline: 0;
}

.close-icon {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-right: 2px;

  &:hover .close-end,
  &:focus .close-end {
    fill: $accent-color;
  }
}

.form-field {
  position: relative;
  margin-bottom: 28px;
  display: flex;
  flex-direction: column;
}

.recall {
  display: block;
  margin-bottom: 30px;

  @media screen and (max-width: 767px) {
    margin-bottom: 12px;
  }

  @media screen and (max-width: 1199px) {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.03em;
  }
}

.form-input {
  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  &:focus {
    outline: 0;
    border: 1px solid $accent-color;
    border-radius: 4px;
  }
}

.form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  transition: transform 250ms $cubic;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: #757575;

  .form-input:focus + &,
  .form-input:not(:placeholder-shown) + & {
    color: $accent-color;
    transform: translate(-26px, -40px);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  }
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translateY(-50%);
  display: inline-block;
  width: 18px;
  height: 18px;

  .form-field:focus-within > & {
    fill: $accent-color;
  }
}

.comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  resize: none;
  margin-bottom: 20px;
  padding: 12px 16px;
  color: #757575;

  .form-field:focus-within > & {
    outline: 0;
    border: 1px solid $accent-color;
  }
}

.checkbox-agreement {
  appearance: none;
}

.agreement {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.checkbox-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid $primary-text-color;
  border-radius: 2px;
  margin-right: 8px;

  .checkbox-agreement:checked + & {
    background-color: $accent-color;
    background-image: url(../image/iconcheck.svg);
    background-size: contain;
    background-origin: border-box;
    border-color: transparent;
  }
}
